<div class="cp_calendar">
  <header>
    <span class="prev" @click="changeMonth(0)">{{"<"}}</span>
    <span class="month_btn">{{monthYearText}}</span>
    <span class="next" @click="changeMonth(1)">{{">"}}</span>
  </header>
  <div class="week">
    <span
      class="cell day_header"
      v-for="name in weekNames"
    >
      {{name}}
    </span>
  </div>
  <div class="day">
    <span
      class="cell day_header"
      v-for="day in daysInMonth"
    >
      {{day}}
    </span>
  </div>
</div>
