<div class="cp_calendar">
  <div class="container">
    <header>
      <button class="prev" @click="changeMonth(0)">{{"<"}}</button>
      <span class="month_btn">{{monthYearText}}</span>
      <button class="next" @click="changeMonth(1)">{{">"}}</button>
    </header>
    <div class="content">
      <table class="date_table" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <th v-for="name in weekNames">
              {{name}}
            </th>
          </tr>
          <tr v-for="week in daysInMonth">
            <td v-for="day in week">
              {{day}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
